---
import { Icon } from "astro-icon/components";
import IconButton from "~/components/icon-button.astro";

type Props = {
  id: string;
  text: string;
};

const { id, text } = Astro.props;
---

<div id={id} class="sticky top-0 z-10 bg-neutral-900 md:px-8">
  <div class="flex items-center justify-between border-b border-neutral-800 py-4 max-md:px-8">
    <h3 id={id} class="font-medium">{text}</h3>
    <IconButton href={`#${id}`} label={`Copy ${text} Link`} class="-mr-3">
      <Icon name="link-alt" class="h-5 w-5 text-neutral-400" />
    </IconButton>
  </div>
</div>
