---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

import Pill from "~/components/pill.astro";

const roles = await getCollection("roles");
---

<div class="flex flex-col gap-8 p-8 md:gap-4">
  {
    roles
      .sort((a, b) => Number(b.data.start) - Number(a.data.start))
      .map((role) => (
        <a
          href={role.data.link}
          target="_blank"
          class="group relative flex min-h-10 items-start justify-between gap-1 transition-all hover:pr-6 max-md:flex-col md:items-center"
        >
          <div class="pointer-events-none absolute inset-0 rounded-sm transition-all group-hover:-inset-x-3 group-hover:-inset-y-2 group-hover:bg-white/5" />
          <p class="flex grow items-center gap-2 text-lg">
            <span>{role.data.title}</span>
            {!role.data?.end ? <Pill>Current</Pill> : null}
          </p>
          <div class="flex gap-2">
            {role.data?.end ? (
              <p class="text-neutral-400">
                {role.data.start} - {role.data.end}
              </p>
            ) : (
              <p class="text-neutral-400">{role.data.start}</p>
            )}
            <p class="text-neutral-400 md:text-white">@ {role.data.employer}</p>
          </div>
          <Icon name="link-external" class="absolute right-0 size-5 opacity-0 transition-all group-hover:opacity-100" />
        </a>
      ))
  }
</div>
